* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#nav-bar {
    height: 75px;
    background-color: #F8F9FA;
    align-content: center;
}



main {
    height: calc(100vh - 75px);
    background-color: brown;
    display: flex;
}

#sidebar {
    width: 100px;
    background-color: azure;
}

#main-content {
    width: calc(100vw - 100px);
    overflow-y: scroll;
}

.logo {
    width: 75px;
}

/* Media query */
@media screen and (min-width: 992px) {
    #sidebar {
        width: 150px;
    }

    #main-content {
        width: calc(100vw - 150px);
    }

}