* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px 0px;
    background-color: grey;
    align-items: center;
}

main {
    height: calc(100vh- 80px);
    display: flex;
    background-color: bisque;
}

.main-content {
    background-color: gray;
    width: calc(100vw - 80px);
    overflow-y: scroll;
}

.side-bar {
    width: 75px;
    background-color: aqua;
    height: calc(100vh - 80px);
}

img {
    width: 80px;
}